root = true

[*]
end_of_line = unset
insert_final_newline = false

[*.{js,mjs,json,yaml,svelte,html,scss,ts,cjs}]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true