@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: #2d3436,
  $background: #000,
  $error: color-palette.$red-700
);

@import "normalize.css/normalize";

html,
body {
  background-image: linear-gradient(to left top, #2f3640, #303742, #323944, #333a46, #353b48);
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

:root {
  --preloader-background: rgba(0, 0, 0, 0.55)
}

@import "../typography";
@import "../common";
