@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@import "normalize.css/normalize";

html,
body {
  color: theme.$on-surface;
  background-image: linear-gradient(to left top, #ecf0f1, #f1f4f5, #f6f7f8, #fbfbfc, #ffffff);
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

:root {
  --preloader-background: rgba(255, 255, 255, 0.55)
}

@import "typography";
@import "common";
