@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@import "normalize.css/normalize";

html,
body {
  color: theme.$on-surface;
  background-color: #DCD9D4;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

:root {
  --preloader-background: rgba(255, 255, 255, 0.55)
}

@import "typography";
@import "common";
